@model List<P1_EDDll_AFPE_DAVH.Models.Message>;
<nav class="navigation-bar row">
    <h2 class="text-white col-6 ml-3 p-0 m-0">@ViewBag.Chatname</h2>
    <form asp-action="Buscar" class="row form">
        <input name="termino" class="search-text" type="search" required>
        <button class="btn-claro my-0 mr-1" type="submit">Buscar</button>
    </form>
    <a class="btn-claro my-0" href="@Url.Action("ChatRoom", new { id = P1_EDDll_AFPE_DAVH.Models.Data.Singleton.Instance.chatID })">Refrescar</a>
    <a class="btn-claro my-0" asp-action="ListChat">Regresar</a>
</nav>
@{ 

    DataStructures.ICipher<int> cipher = new DataStructures.SDES(System.IO.Path.GetDirectoryName(@"Configuration\"));
    DataStructures.ICipher<int[]> RSACipher = new DataStructures.RSA();

    static string GetString(byte[] bytes)
    {
        char[] chars = new char[bytes.Length / sizeof(char)];
        System.Buffer.BlockCopy(bytes, 0, chars, 0, bytes.Length);
        return new string(chars);
    }}
<div class="mensajes">
    @foreach (var message in Model)
    {
        int[] keys = { message.k1, message.k2 };
        @if (message.UserSender == ViewBag.Username)
        {
            @if (message.visible)
            {
                <div class="mensaje-propio offset-4 col-7">
                    <div class="row">
                        <h4 class="col-7 emisor-mensaje">@message.UserSender</h4>
                        <a class="col-2 btn-claro btn-mini text-center" href="@Url.Action("EliminarT", new { id = message.dateTime.ToString() + message.dateTime.Millisecond.ToString(), chatId = ViewBag.ID })">Elimnar para todos</a>
                        <a class="col-2 btn-claro btn-mini text-center" href="@Url.Action("EliminarM", new { id = message.dateTime.ToString() + message.dateTime.Millisecond.ToString(), chatId = ViewBag.ID })">Elimnar para mí</a>
                    </div>
                    @if (message.type == 1)
                    {
                        <p class="row text-mensaje text-wrap">
                            @if (ViewBag.Type == 1)
                            {
                                @GetString(cipher.Decipher(message.content.ToArray(), (int)System.Numerics.BigInteger.ModPow(ViewBag.B, ViewBag.ka, ViewBag.p)))
                            }
                            else
                            {
                                @GetString(RSACipher.Decipher(message.content.ToArray(), keys))
                            }
                        </p>
                    }
                    else
                    {
                        <div class="row">
                            <h3 class="col-8 titulo">@message.title</h3>
                            <a class="col-4 btn-principal" href="@Url.Action("Download", new { id = message.dateTime.ToString() + message.dateTime.Millisecond.ToString(), chatId = ViewBag.ID })">Descargar</a>
                        </div>
                    }
                </div>
            }
        }
        else
        {
            <div class="mensaje col-7">
                <h4 class="row emisor-mensaje">@message.UserSender</h4>
                @if (message.type == 1)
                {
                    <p class="row text-mensaje text-wrap">
                        @if (ViewBag.Type == 1)
                        {
                            @GetString(cipher.Decipher(message.content.ToArray(), (int)System.Numerics.BigInteger.ModPow(ViewBag.A, ViewBag.ka, ViewBag.p)))
                        }
                        else
                        {
                            @GetString(RSACipher.Decipher(message.content.ToArray(), keys))
                        }
                    </p>
                }
                else
                {
                    <div class="row">
                        <h3 class="col-8 titulo">@message.title</h3>
                        <a class="col-4 btn-principal" href="@Url.Action("Download", new { id = message.dateTime.ToString() + message.dateTime.Millisecond.ToString(), chatId = ViewBag.ID })">Descargar</a>
                    </div>
                }
            </div>
        }
    }
</div>
<div class="row footer-emisor">
        <a class="btn-principal" href="@Url.Action("SubirArchivo", new { id = ViewBag.ID})">Subir Archivo</a>
    <form asp-action="SendMessage" class="max-width">
        <input class="col-10 input-messagge" name="MessageText" type="text" placeholder="Escribe aquí tu mensaje" />
        <button class="col-1 btn-principal" type="submit">Enviar</button>
    </form>
</div>

