@model List<P1_EDDll_AFPE_DAVH.Models.Message>;
<nav class="navigation-bar row">
    <h2 class="text-white col-11 ml-3 p-0 m-0">@ViewBag.Chatname</h2>
    <a class="btn-claro my-0">Regresar</a>
</nav>
<div class="mensajes">
    @foreach (var message in Model)
    {
        @if (message.UserSender == ViewBag.Username && message.visible)
        {
            <div class="mensaje-propio offset-4 col-8">
                <h4 class="row emisor-mensaje">@message.UserSender</h4>
                @if(message.type == 1)
                {
                    <p class="row text-mensaje text-wrap">@message.content</p>
                }
                else
                {
                    <div class="row">
                        <h3 class="col-8 titulo">@message.title</h3>
                        <button class="col-4 icon-btn"></button>
                    </div>
                }
            </div>
        }
        else
        {
            <div class="mensaje col-8">
                <h4 class="row emisor-mensaje">@message.UserSender</h4>
                @if (message.type == 1)
                {
                    <p class="row text-mensaje text-wrap">@message.content</p>
                }
                else
                {
                    <div class="row">
                        <h3 class="col-8 titulo">@message.title</h3>
                        <button class="col-4 icon-btn"></button>
                    </div>
                }
            </div>
        }
    }
</div>
<form asp-action="SendMessage" class="footer-emisor row">
    <button class="col-1 icon-btn">Subir Archivo</button>
    <input name="Id" value="@ViewBag.ID" type="hidden"/>
    <input class="col-10 input-messagge" name="MessageText" type="text" placeholder="Escribe aquí tu mensaje" />
    <button class="col-1 icon-btn" type="submit">Enviar</button>
</form>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>

<script>
    var connection = new signalR.HubConnectionBuilder().withUrl("/chat").build();
    connection.start().then(() => {
        connection.invoke("AddToGroup", "@Model")
    }).catch((e) => console.error(e));

    document.getElementById("btnSend").addEventListener("click", (event) => {
        let room = "@Model";
        let user = document.getElementById("user").value;
        let message = document.getElementById("message").value;

        connection.invoke("SendMessage", room, user, message).catch((err) => console.error(err.toString()));
        document.getElementById("message").value = "";
        document.getElementById("message").focus();
        event.preventDefault();

    })

    connection.on("ReceiveMessage", (user, message) =>
    {
        var message = "<div ><b>" + user + " said:</b> " + message + "</div>";
        document.getElementById("messages").innerHTML = message + document.getElementById("messages").innerHTML;
    }); 


</script>
